*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

body{
    background-color: lightgrey;
}

header{
    width:100%;
    background-color: grey;
}

h1{
    height: 110px;
    line-height: 110px;
}

nav, footer{
    padding: 2%;
    background-color: lightgrey;
}

main{
    background-color: slategrey;
    display: flex;
    flex-direction: row;
    min-height: 425px;
}

aside{
    flex: 1;
}

section{
    background-color: gray;
    flex:2;
}