*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}

fieldset{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

input[type="radio"]{
    margin: 0;
    display: inline-block;
    width: auto;
}

select{
    margin-top: 5px;
    margin-bottom: 5px;  
}

.radio li{
    list-style-type: none;
}

input{
    display: block;
    margin: 5px 0;
    width: 100%;
}

body{
    background-color: lightgrey;
}

header{
    width:100%;
    background-color: grey;
}

h1{
    height: 110px;
    line-height: 110px;
}

nav, footer{
    padding: 2%;
    background-color: lightgrey;
}

main{
    background-color: slategrey;
    padding: 15px;
}

section{
    background-color: gray;
    min-height:300px;
    line-height: 300px;
}

h1, nav, footer, .search-results{
    text-align: center;
}